
            
            <!-- Form -->
            <section id="starting...">
                <h2>Votre avis nous importe ...</h2>
                <form method="POST" action="{{ Route('home.post') }}">
                    <div class="row gtr-uniform">
                        <!-- Premiére et deuxieme question -->
                        <div class="col-6 col-12-xsmall {!! $errors->has('reponse1)? 'has-error' : '' !!}">
                            <input type="text" name="reponse1" id="premiere-reponse" value="" placeholder="Qu'avez vous pensez de la CNTS apres votre premiére visite ?" />
                            {!! $errors->first('reponse1','<small class="help-block">:message</small>') !!}
                        </div>
                        <div class="col-6 col-12-xsmall {!! $errors->has('reponse2)? 'has-error' : '' !!}">
                            <input type="text" name="reponse2" id="deuxieme-reponse" value="" placeholder="Et comment avez vous jugé l'acceuil qui vous a été porté" />
                            {!! $errors->first('reponse2','<small class="help-block">:message</small>') !!}
                        </div>

                        <!-- Troisieme question -->
                        <div class="col-6 {!! $errors->has('reponse3)? 'has-error' : '' !!}">
                            <select name="reponse3" id="troisieme reponse">
                                <option value="">- Commment avez-vous connu CNTS -</option>
                                <option value="amie">Ami(e)</option>
                                <option value="online">En ligne</option>
                                <option value="visite">Visite</option>
                                <option value="television">Television</option>
                            </select>
                            {!! $errors->first('reponse3','<small class="help-block">:message</small>') !!}
                        </div>

                        <!-- Quatrieme question -->
                        <div class="col-12">
                            Quel est votre niveau de satisfaction ?
                        </div>
                        <div class="col-3 col-12-small">
                            <input type="radio" id="faible" name="reponse4" value="faible" checked>
                            <label for="faible">Faible 👎🏾</label>
                        </div>
                        <div class="col-3 col-12-small">
                            <input type="radio" id="normal-inferieur" value="normal-inferieur" name="reponse4">
                            <label for="normal-inferieur">Pas assez, je dirais 😑</label>
                        </div>
                        <div class="col-3 col-12-small">
                            <input type="radio" id="normal-superieur" value="normal-supérieur" name="reponse4">
                            <label for="normal-supérieur">Oui ca va 😊</label>
                        </div>
                        <div class="col-3 col-12-small">
                            <input type="radio" id="eleve" value="élevé" name="reponse4">
                            <label for="eleve">Satisfait a 💯</label>
                        </div>

                        <!-- Cinquieme et derniere question -->
                        <div class="col-12">
                            <textarea name="reponse5" id="demo-message" placeholder="Entrer votre message personnel ici" rows="6"></textarea>
                        </div>

                        <!-- Bouton submit & reset -->
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Envoyer" class="primary icon solid fa-download" /></li>
                                <li><input type="reset" value="Annuler" /></li>
                            </ul>
                        </div>
                        
                    </div>
                </form>
            </section>    
