*{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

body{
    font-family: Quicksand;
    overflow-x: hidden;
}

.navbar{
    padding: 0;
    position: sticky;
    width: 100%;
}

.navbar-right{
    margin-top: 7px;
    font-family: bold;
    left: 550%;
}

.jumbotron{
    text-align: center;
}

.jumbotron h1{
    font-size: 12.5em;
}

.question{
    text-align: center;
    color: #fff;
}

.question{
    margin: 0;
    background: url('../assets/images/cntsbackgroundimage.png');
    background-size: cover;
}

.block-form-home{
    margin-top: 50px;
}

.block-admin-table, .block-fiche-users{
    margin-top: 20px;
}

.block-admin-table .text-primary{
    color: black;
    font-size: 1em;
    font-weight: 500;
}


.block-fiche-users .panel-body{
    padding-left: 0;
    height: 250px;
}

.block-fiche-users .panel-heading{
    background: #c53430;
    color: white;
}

.block-image .fa-file-image{
    font-size: 3.5em;
}

.form-horizontal{
    padding: 10px;
}

.btn-back-admin {
    margin-left: 50%;
}

.title-admin{
    text-align: center;
    position: relative;
    font-size: 2rem;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 25%;
}


.block-admin-table .btn-primary{
    background: #fff;
    border: 1px solid #009688 ;
    background: #009688;
    transition-duration: 1s;
}

.block-admin-table .btn-primary:hover{
    background: #016359;
}

.block-admin-table .btn-success{
    background: #fff;
    border: 2px solid #009688;
    color: #009688;
    transition-duration: 650ms;
}

.block-admin-table .btn-success:hover{
    background: #009688;
    color: #fff;
}


.block-admin-table .btn-warning{
    background: #fff;
    border: 2px solid #f39c12;
    color: #f39c12;
    transition-duration: 650ms;
}

.block-admin-table .btn-warning:hover{
    background: #f39c12;
    color: #fff;
}

.block-admin-table .btn-danger,
.home-admin .btn-danger, 
.homebis-admin .btn-danger {
    background: none;
    border :none;
    color: black;
    text-align: center;
    transition-duration: 650ms;
}

.block-admin-table .btn-danger:hover,
.home-admin .btn-danger:hover,  
.homebis-admin .btn-danger:hover{
    background: #c53430;
    color: #fff;
}

.homebis-admin .title-admin{
    margin-left: 30%;
}

.panel-body .address{
    font-size: 1em;
    color: darkgrey;
} 

.panel-body .block-image{
   
    display: inline-block;
    background-color: rgb(235, 235, 235);
    margin-left: 4%;
    height: 165px;
    width: 120px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    box-shadow: 2px 1px 1px grey;
    text-align: center;
    top :50%;
}

.panel-body .block-text{
    position: absolute;
    display: inline-block;
    margin-left:3%;
}

.block-text p a{
    color: #c53430;    
}

.home-admin .btn-danger{
    background: #fff;    
}

.home-admin .container{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.home-admin .title-width
{
    width: 50%;
}

.homebis-admin .title-width
{
    width: 36%;
}

.homebis-admin .vue{
    margin-left: 30%;
}
.pagination > li > a,
.pagination > li > span {
    color: #c53430; 
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #c53430;
    border-color: #c53430;
}

.home-admin .page-item{
    margin-left: 50px;
}
/* 
* Responsive Table | Vue par question
*/
.responsive-table li{
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.responsive-table .table-header{
    background-color: #c53430;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.responsive-table .table-row{
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    font-size: 1.2em;
    font-weight: bold;
}

.responsive-table  .col-1 {
    flex-basis: 10%;
}

.responsive-table  .col-2 {
    flex-basis: 85%;
}
  
/* 
* End section
*/

/*
* Responsive table | Vue par user
*/

.wrapper th h1{
    font-weight: bold;
    font-size: 1.3em;
    text-align: left;
}

.wrapper td{
    font-weight: normal;
    font-size: 1.2em;
    /*
    * Partie a revoir
    */
    -webkit-box-shadow: 0 2px 2px -2px #fff;
	-moz-box-shadow: 0 2px 2px -2px #fff;
    box-shadow: 0 2px 2px -2px #fff;
    /*
    * Fin
    */ 
}

.wrapper{
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
    font-family: Quicksand;
}

.wrapper td, .wrapper th{
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}


.wrapper tr:nth-child(odd){
    background-color: rgb(245, 243, 243);
}

.wrapper tr:nth-child(even){
    background-color: white;
}

.wrapper th{
    background-color: #fff;
}

.wrapper td:first-child{
    color: #c53430;
}

.wrapper tr:hover{
    background-color: #f3e2e2;
    -webkit-box-shadow: 0 6px 6px -6px #fff;
	-moz-box-shadow: 0 6px 6px -6px #fff;
    box-shadow: 0 6px 6px -6px #fff;
    transition-duration: 0.5s;
    transition-timing-function: line;
}

.wrapper td:hover{
    background-color: #c53430;
    color: black;
    font-weight: bold;
    box-shadow: #863432 -1px 1px, #863432 -2px 2px, #863432 -3px 3px, #863432 -4px 4px, #863432 -5px 5px, #863432 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {
    .wrapper td:nth-child(4),
    .wrapper th:nth-child(4) { display: none; }
}
/*
* End section
*/

.vue{
    color: #c53430; 
    text-align: center;
    margin-left: 30%;
    transition-duration: 500ms;
    transition-timing-function: line;
    border-radius: 2px;

}

.vue:hover{
    font-weight: 600;
    color: black;
    text-decoration: none;

}

.data-anchor{
    background: black !important; 
}

.lien-admin{
    display: inline-block; 
    color: black;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 70%;
    transition-duration: 500ms;
}

.lien-admin:hover{
    background: #c53430;
    color: #fff;
}

.ml-auto
{
    margin-left:50%;
}

.nav-link-off{
    margin-top: -15px;
    background: none;
    border :2px solid #c53430 ;
    color: #c53430;
    text-align: center;
    transition-duration: 650ms;
}

.nav-link-off:hover{
    background:#c53430;
    color: #fff;
}

.confirm{
    margin-top: 2%;
    height: 100px;
}

.confirm .panel-heading{
    background: #c53430;
    color:white;
}

.confirm a {
    color: #c53430;
}

.confirm a:hover{
    font-weight: #2e3842;
}
